# Ambiente virtual
.venv/

# Dados (grandes e regeneráveis), exceto os .gitkeep
data/**
!data/**/
!data/**/.gitkeep


# Segredos
.env

# Lixo do Python e do Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Logs
logs/

# Sistema e editor
Thumbs.db
.vscode/